.main{
    background: rgb(179,177,215);
    background: radial-gradient(circle, rgba(179,177,215,1) 0%, rgba(13,47,210,1) 0%, rgba(19,51,78,1) 100%);
    height: 90vh;
    align-content: center;
    padding: 25vh;
    .titleContainer{
        display: flex;
        justify-content: center;
        .imgLogo{
            width: 125px;
        }
    }
    .main-title{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .main-subtitle{
            display: flex;
            justify-content: center;
            .diseño{
                padding-right: 5px;
                padding-left: 5px;
                font-size: 45px;
                font-weight: 500;
            }
        }
        .subtitle{
            display: flex;
            justify-content: center;
            margin-top: -20px;
            .dental{
                font-size: 40px;
                padding-bottom: 50px;
            }
        }
    }
}

.submain {
    background-color: var(--mainColorLight);
    padding: 40px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    .subDetail{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;
        margin-top: 15px;
        .iconMain{
            width: 100px;
        }
        .subDetailTxt{
            font-size: 20px;
            font-weight: 600;
        }
    }

}

.especialidades{
    background-color: var(--secondaryColor);
    text-align: start;
    color: white;
    padding: 50px;
    align-items: center;
    .containerImgE{
        display: flex;
        justify-content: center;
        .especialidadImg{
            width: 600px;
            border-radius: 10px;
            box-shadow: 15px 15px 15px rgba(0, 0, 0, .2);
        }

    }
    .list{
        text-align: start;
        font-size: 20px;
    }
    .list::before{
        background-color: white ;
        top: 50%;
        left: -2%;
        position: absolute;
        content: "";
        transform: translateY(-50%);
        width: 4px;
        height: 70%;
        transition: 1s;
    }

}




@media (max-width: 767px) {
    .main .titleContainer{
        .imgLogo{
            width: 100px;
        }
    }
    .main .main-title .main-subtitle {
        .diseño{
            font-size: 40px;
        }
    }
    .main .main-title .subtitle {
        .dental{
            font-size: 35px;
        }
    }

    .especialidades{
        background-color: var(--secondaryColor);
        text-align: center;
        color: white;
        padding: 50px;
        .list{
            text-align: center;
            font-size: 20px;
        }
        .list::before{
            background-color: white ;
            top: 50%;
            left: 20%;
            position: absolute;
            content: "";
            transform: translateY(-50%);
            width: 4px;
            height: 70%;
            transition: 1s;
        }
        .containerImgE{
            display: flex;
            justify-content: center;
            .especialidadImg{
                width: 400px;
                border-radius: 10px;
                box-shadow: 15px 15px 15px rgba(0, 0, 0, .2);
            }

        }

    }
}